<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>WePay - Make/Find your Event</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">WePay</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Name your event.</h1> <br>
			<form action="/new">
				<input type="text" placeholder="Enter event name" name="eventName" required>
				<input type="text" placeholder="Notes" name="details">
				<input type="submit" value="Add" class="btn btn-lg btn-default">
			</form>
            <!--<p class="lead">
              <a href="#" class="btn btn-lg btn-default">Add</a>
            </p>-->
          </div>
		 <br>
		 <br>
         <div class="inner cover">
            <h1 class="cover-heading">Find your event.</h1> <br>
			<form action="/view">
				<p class='lead' id="error"> {{error}} </p>
				<input type="text" placeholder="Enter event code" name="eventID" required>
				<input type="submit" value="Find" class="btn btn-lg btn-default">
			</form>
          </div>


        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
